[defaults]
local_tmp = {{ ara_server_path }}/.ansible/tmp

[ara]
dir = {{ ara_server_path }}/.ara
database = mysql+pymysql://{{ ara_mysql_user }}:{{ ara_mysql_password }}@{{ ara_mysql_remote_host }}/ara
playbook_per_page = {{ ara_playbook_per_page }}
result_per_page = {{ ara_result_per_page }}
