<VirtualHost *>
    WSGIDaemonProcess ara user=www-data group=www-data threads=5
    WSGIScriptAlias / {{ ara_server_path }}/ara.wsgi

    SetEnv ANSIBLE_CONFIG {{ ara_server_path }}/ansible.cfg

    <Directory {{ ara_server_path }}>
        WSGIProcessGroup ara
        WSGIApplicationGroup %{GLOBAL}
        WSGIScriptReloading On

        {% if ara_apache_auth_enabled == true %}
        AuthType Basic
        AuthName "Restricted Content"
        AuthUserFile /var/www/ara/.htpasswd
        Require valid-user
        {% else %}
        Require all granted
        {% endif %}

    </Directory>
</VirtualHost>
